/*
.chart {
    -fx-padding: 10px;
}

.char-content {
    -fx-padding: 10px;
}

.chart-series-line {
    -fx-stroke-width: 6px;
}*/

.default-color0.chart-series-line {
    -fx-stroke: blue;
}
.default-color1.chart-series-line {
    -fx-stroke: grey;
}
.default-color2.chart-series-line {
    -fx-stroke: red;
}
.default-color3.chart-series-line {
    -fx-stroke: orange;
}

.default-color0.chart-line-symbol {
    -fx-background-color: blue, white;
}
.default-color1.chart-line-symbol {
    -fx-background-color: grey, white;
}
.default-color2.chart-line-symbol {
    -fx-background-color: red, white;
}
.default-color3.chart-line-symbol {
    -fx-background-color: orange, white;
}