/*
 * Empty Stylesheet file.
 */


.sup-background {
    -fx-background-color: #fff;
    
}

.lable-button, .background {
    /*-fx-background-color: #FFB740;*/
    -fx-background-color: #FFB319;
    
}

.lable-button-is-hover:hover {
    /*-fx-background-color: #FDE49C;*/
    -fx-background-color: #FFE194;
    
}
